
$post-border-color: #ecf0f1;
$text-input-border-color: #bdc3c7;
$danger-text-color: #c0392b;
$danger-bg-color: #ffd7d3;

.post {
	align-items: center;
	display: flex;

	&:not(:last-child) {
		border-bottom: 1px solid $post-border-color;
	}

	.post-image {
		padding: .2em;

		img {
			border-radius: 2px;
			width: 4em;
		}
	}

	.post-title {
		flex: 1 1 auto;

		form { margin: 0; }

		.post-title-input {
			border: 1px solid $text-input-border-color;
			border-radius: .2em;
			color: inherit;
			font-family: inherit;
			font-size: .9em;
			font-weight: inherit;
			padding: .25em;
			width: 100%;
		}
	}

	.post-actions {
		display: flex;
		padding: .25em;

		& > * { margin: .25em; }
	}

	.danger-text {
		color: $danger-text-color;
		font-weight: bold;
	}

	&.danger-bg {
		background: $danger-bg-color;
	}
}
